<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=424c6149-289b-40e6-9440-a36a009adf50.sqlserver.sequelizer.com;Database=db424c6149289b40e69440a36a009adf50;User ID=jethpdwbcenqcdcj;Password=Sg3MaZbWzzrDDBbdT7tH5EiouwPzBkgHjdVamzNEi7YjZxFLiB4hWDzn7NsKjJto;"/>
  </connectionStrings>
</configuration>
